<!--
  部门工作岗位清单
-->

@model IEnumerable<LPFW.ViewModels.EntityViewModel>
@using LPFW.HtmlHelper
@{

    var listItems = ViewData["PositionListItems"] as List<LPFW.ViewModels.ControlModels.TableListItem>;

    // 提取控制器路径
    var controllerPath = "/" + ViewContext.RouteData.Values["area"].ToString() + "/" + ViewContext.RouteData.Values["controller"].ToString();

    // 新建或者编辑对象的路径
    var creatOrEditAction = controllerPath + "/CreateOrEditWithType/";
    // 根据关键词检索列表数据的路径
    var searchWithKeywordAction = controllerPath + "/List";
    // 明细数据路径
    var detailAction = controllerPath + "/Detail/";
    // 删除数据路径
    var deleteAction = controllerPath + "/Delete/";
    // 缺省的列表页路径
    var defaultListAction = controllerPath + "/List";
}

<div class="table-responsive" style="margin-top:-10px">
    <table class="table table-bordered table-striped table-sm">
        <thead>
            <tr>
                @Html.ListTableHeaderForListItems(listItems, defaultListAction, "mainWorkPlaceArea")
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr style="background-color:white;border-color:darkgray">
                    @Html.ListTableDataForListItems(listItems, item)
                </tr>
            }
        </tbody>
    </table>
</div>
