<!--
  普通的数据处理入口：
   1. 不使用分页的数据列表；
   2. 应用局部页处理新建、编辑和明细数据的显示 UI；
   3. 使用会话框处理删除数据的确认以及删除错误以后的体视；
   4. 没有列表数据的分类导航组件
-->

@model IEnumerable<LPFW.ViewModels.EntityViewModel>
@using LPFW.HtmlHelper
@{
    var pageParameter = ViewData["ListSinglePageParameter"] as LPFW.DataAccess.Tools.ListSinglePageParameter;
}

<div class="row">
    <div class="col-12 col-md-12 col-lg-12" id="mainWorkPlaceArea">
        @await Html.PartialAsync("_CommonList",Model)
    </div>
</div>

<!-- 一组用于留存查询、排序、导航处理等相关的中间变量，方便需要的时候提取 -->
@Html.SetLisSingletPageParameter(pageParameter)

<!-- 删除对象确认提交会话框 -->
@await Html.PartialAsync("_CommonDeleteItemModal")

<!-- 上传选择器会话框 -->
@await Html.PartialAsync("_CommonBusinessFileCollectionSelectorModal")
@await Html.PartialAsync("_CommonBusinessImageCollectionSelectorModal")
@await Html.PartialAsync("_CommonBusinessVideoSelectorModal")
@await Html.PartialAsync("_CommonBusinessVideoCoverSelectorModal")
@await Html.PartialAsync("_CommonAvatarSelectorModal")

@section Scripts{
    <script>
        // 加载入口页时需要处理的基本控件
        $(function () {
            // 当浏览器大小变化时，重新设置相关的 div 的高度
            window.onresize = function (event) {
                resetDivHeight();
            };

            // 设置相关的 div 的高度
            resetDivHeight();

            // 初始化与上传插件相关的 boot-fileinput 插件
            appInitialUpload();

        });

        /*
         * 当在页面上调用 appGotoCreateOrEditWithPartialView 方法时，通过控制器返回局部视图时调用这个方法。
         * 这个方法用于初始化 _CommonCreateOrEdit 页面的元素
         */
        function initialGotoCreateOrEditWithPartialView() {
            resetDivHeight();
            appInitialSummernote("HtmlContent");
        }

        /*
         * 当在页面上调用 appGotoDetailPartialView 方法时，通过控制器返回局部视图时调用这个方法。
         * 这个方法用于初始化 _CommonDetail 局部视图的元素
         */
        function initialDetailPartialView() {
            resetDivHeight();
        }

    </script>
}