<!-- 用于处理删除提醒以及返回删除错误信息的模态对话框 -->
<div class="modal fade" id="resetPasswordModal" tabindex="-1" role="dialog" aria-labelledby="deleteItemModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLongTitle"> 重置密码 </h4>
            </div>
            <div class="modal-body" id="" style="color:red">
                <div class="form-group form-row" style="margin-top:-13px">
                    <div class="text-info text-left" style="font-size:11px;margin-left:4px">输入的密码需8个字符，并且至少包括有数字字符，字母字符和特殊字符。</div>
                    <div class="col-12 col-md-12 col-sm-12">
                        <input type="password" class="form-control " id="userPasword" name="userPasword" placeholder="请输入密码。" value="" required="" />
                    </div>
                </div>
                <div class="form-group form-row" style="margin-top:-13px">
                    <div class="text-info text-left" style="font-size:11px;margin-left:4px">重复密码</div>
                    <div class="col-12 col-md-12 col-sm-12">
                        <input type="password" class="form-control " id="userPaswordConfirm" name="userPaswordConfirm" placeholder="请重复输入密码。" value="" required="" />
                    </div>
                </div>
                <span class="text-info" id="resetPasswordModalMessage">重置密码之后，用户只能使用新的密码重新登录。</span>
                <p id="resetPasswordMessage" style="color:red"></p>
                <input type="hidden" name="resetPasswordID" id="resetPasswordID" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-danger" onclick="resetPassword()">重置</button>
            </div>
        </div>
    </div>
</div>

