
<!-- 普通的上传文件 Modal -->

@{
    // 上传完成之后更新上传数据的路径
    var refreshUpLoadDataPath = "/Upload/DataForUploadFileCollection/";
}
<div class="modal fade" id="commonBusinessFileCollectionSelectorModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:whitesmoke">
                <h5 class="modal-title">上传文件</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="" style="padding:0px">
                <div style="padding:5px">
                    <input type="file" multiple class="form-control" id="commonBusinessFileCollectionSelector" name="commonBusinessFileCollectionSelector" placeholder="" value="" required data-preview-file-type="text">
                    <input type="hidden" name="relFileCollectionObjectID" id="relFileCollectionObjectID" />      <!--这是一个隐藏的数据标签，用于转移待图片关联对象的ID-->
                </div>
            </div>
            <div class="modal-footer" style="background-color:whitesmoke;padding-right:5px">
                <!-- 下面的方法位于 appFunctionForUpload.js -->
                <button type="button" class="btn btn-primary" onclick="appCloseCommonBusinessFileCollectionSelectorModal('@refreshUpLoadDataPath')">关闭并刷新数据</button>
            </div>
        </div>
    </div>
</div>

