<div class="card card-dark">
    <div class="card-header" style="background-color:whitesmoke; border-bottom-color:darkgray;border-bottom-width:1px;border-bottom-style:solid;">
        <h4>导航树标题</h4>
    </div>
    <div class="card-body" style="padding:0px; overflow-y:auto" id="navigatorTreeViewContainer">
         <div id="navigatorTreeView"></div>
    </div>
</div>