@model LPFW.ViewModels.OrganizationBusiness.TransactionCenterRegisterVM
<section class="section">
    <div class="section-header">
        <h1>@ViewData["FunctionName"] </h1>
        <div class="section-header-breadcrumb">
            <div class="breadcrumb-item">
                一些工作提示信息
            </div>
        </div>
    </div>
    <div class="section-body" style="margin-top:-20px">
        <p>
            @Model.Description
        </p>
    </div>
</section>

