@charset "utf-8";
/* CSS Document */
.music {
    height: 150px;
    width: 150px;
    background: rgba(98,91,91,0.9);
}

.pic_div {
    position: relative;
}

.dot {
    width: 15px;
    height: 15px;
    background: #464545;
    position: absolute;
    border: 2px solid white;
    border-radius: 50%;
    top: 40px;
    left: 85px;
}

.disc {
    width: 100px;
    position: absolute;
    right: 5px;
    transform: rotate(30deg);
}

#music_pic {
    width: 100px;
    position: absolute;
}

.music_program {
    height: 2px;
    width: 100px;
    background: #555;
    position: relative;
    top: 100px;
}

    .music_program div {
        height: 100%;
        width: 0%;
        background: red;
    }

.time {
    width: 100px;
    height: 20px;
    position: relative;
    top: 85px;
    overflow: hide;
}

    .time p {
        padding-left: 33px;
    }

        .time p span:nth-of-type(2) {
            padding: 0 5px;
        }

.music_menu {
    width: 150px;
    height: 25px;
    position: relative;
    top: 85px;
}

    .music_menu span {
        width: 30px;
        height: 25px;
        display: inline-block;
        cursor: pointer;
    }

        .music_menu span:nth-of-type(1) {
            margin-left: 8px;
            background: url(../images/music/pictures/back.png) no-repeat 7px;
        }

        .music_menu span:nth-of-type(2) {
            margin-left: 14px;
            background: url(../images/music/pictures/play.png) no-repeat 10px;
        }

        .music_menu span:nth-of-type(3) {
            margin-left: 14px;
            background: url(../images/music/pictures/forward.png) no-repeat 7px;
        }
