<div class="container text-center">
  <div class="display-1 text-muted mb-5"><i class="si si-exclamation"></i> 未经授权的访问 </div>
  <h1 class="h2 mb-3">你访问了未经授权的功能。</h1>
  <p class="h4 text-muted font-weight-normal mb-7">请确认你是否应该具有这个功能的访问需求，如果是合理的访问，请联系相关服务人员 &hellip;</p>
  <a class="btn btn-primary" href="javascript:history.back()">
    <i class="fe fe-arrow-left mr-2"></i> 返回
  </a>
</div>
