@model IEnumerable<LPFW.ViewModels.ApplicationCommon.AppPathAndMenu.ApplicationMenuItemVM>
@{
    var applicationMenuGroupCollection = ViewData["ApplicationMenuGroupCollection"] as List<LPFW.ViewModels.ApplicationCommon.AppPathAndMenu.ApplicationMenuGroupVM>;
    var applicationMenuGroup = ViewData["ApplicationMenuGroup"] as LPFW.ViewModels.ApplicationCommon.AppPathAndMenu.ApplicationMenuGroupVM;
    var activeItemId = (Guid)ViewData["ApplicationMenuItemActiveId"];
}
<div class="sidebar-brand" style="background-color:whitesmoke; border-bottom-color:darkgray;border-bottom-width:1px;border-bottom-style:solid">
    <div style="font-size:20px;font-weight:bold">
        在线课程类型
    </div>
</div>
<ul class="sidebar-menu">
    @foreach (var item in Model.OrderBy(x => x.SortCode).Where(x => x.Id.ToString() == x.ParentItemId))
    {
        var activeString = "";
        if (item.Id == activeItemId)
        {
            activeString = "active";
        }

        <li class="nav-item dropdown @activeString " >
            <a href="#" class="nav-link has-dropdown" style="font-size:15px"><i class="@item.IconString"></i><span>@item.Name</span></a>
            <ul class="dropdown-menu">
                @{
                    var subItemCollection = Model.OrderBy(x => x.SortCode).Where(x => x.ParentItemId == item.Id.ToString() && x.ParentItemId != x.Id.ToString());
                    foreach (var subItem in subItemCollection)
                    {
                        <li><a class="nav-link" href="@subItem.UrlString">@subItem.Name</a></li>
                    }
                }
            </ul>
        </li>
    }
</ul>
