<!--
  普通的数据处理入口：
   1. 使用分页的数据列表；
   2. 应用局部页处理新建、编辑和明细数据的显示 UI；
   3. 使用会话框处理删除数据的确认以及删除错误以后的体视；
   4. 使用列表数据的分类导航组件
-->
@model IEnumerable<LPFW.ViewModels.EntityViewModel>
@using LPFW.HtmlHelper
@{
    var pageGroup = ViewData["PageGroup"] as LPFW.DataAccess.Tools.PagenateGroup;
    var pageParameter = ViewData["ListPageParameter"] as LPFW.DataAccess.Tools.ListPageParameter;

    // 提取控制器路径
    var controllerPath = "/" + ViewContext.RouteData.Values["area"].ToString() + "/" + ViewContext.RouteData.Values["controller"].ToString();
    // 获取 jsTree 导航树节点数据的路径
    var navigatorItemDataPath01 = controllerPath + "/DataForJsTree";
    // 获取 bootStrapTreeView 导航树节点数据的路径
    var navigatorItemDataPath02 = controllerPath + "/DataForBootStrapTreeView";
    // 缺省的列表页路径
    var defaultListUrlString = controllerPath + "/PaginateList";

}

<div class="row sm-gutters">
    <div class="col-12 col-md-3 col-lg-3" id="navigatorPalceArea">
        @await Html.PartialAsync("_NavigatorWithBootTreeView")
    </div>
    <!-- 主工作区，使用列表、编辑、明细几个常规的局部页进行渲染 -->
    <div class="col-12 col-md-9 col-lg-9" id="mainWorkPlaceArea">
        @await Html.PartialAsync("_PaginationCommonList",Model)
    </div>
</div>

<!-- 一组用于留存查询、分页、导航处理等相关的中间变量，方便需要的时候提取 -->
@Html.SetListPageParameter(pageParameter)

<!-- 删除分页对象确认提交会话框 -->
@await Html.PartialAsync("_PaginateCommonDeleteItemModal")

<!-- 上传选择器会话框 -->
@await Html.PartialAsync("_CommonBusinessFileCollectionSelectorModal")
@await Html.PartialAsync("_CommonBusinessImageCollectionSelectorModal")
@await Html.PartialAsync("_CommonBusinessVideoSelectorModal")
@await Html.PartialAsync("_CommonBusinessVideoCoverSelectorModal")
@await Html.PartialAsync("_CommonAvatarSelectorModal")

@section Scripts{
    <script>

        // 加载入口页时需要处理的基本控件
        $(function () {
            // 当浏览器大小变化时，重新设置相关的 div 的高度
            window.onresize = function (event) {
                resetDivHeight();
            };

            // 设置相关的 div 的高度
            resetDivHeight();

            // 设置导航树节点
            appInitialBootStrapTreeViewForPagination("navigatorTreeView", "@navigatorItemDataPath02", "@defaultListUrlString", "mainWorkPlaceArea");

            // 初始化与上传插件相关的 boot-fileinput 插件
            appInitialUpload();
        });

        /*
         * 当在页面上调用 appGotoCreateOrEditWithPartialView 方法时，通过控制器返回局部视图时调用这个方法。
         * 这个方法用于初始化 _CommonCreateOrEdit 页面的元素。
         */
        function initialGotoCreateOrEditWithPartialView() {
            // 刷新浏览器组件的高度
            resetDivHeight();

            // 以下几个调用是演示性质的，在实际应用中，如果需要处理的话，在这里自定义处理
            appInitialBootstrapMultiselect("DemoItemForMultiSelectId");
            appInitialSummernote("Content");
        }


        /*
         * 当在页面上调用 appGotoDetailPartialView 方法时，通过控制器返回局部视图时调用这个方法。
         * 这个方法用于初始化 _CommonDetail 局部视图的元素
         */
        function initialDetailPartialView() {
            resetDivHeight();
        }

    </script>
}