
<section class="section">
    <div class="section-header">
        <h1>个人资料管理 </h1>
    </div>
    <div class="section-body">
        <div class="row">
            <div class="col-2">
                <div class="list-group list-group-flush">
                    <a class="list-group-item" id="list-messages-list" data-toggle="list" href="" role="tab">个人资料</a>
                    <a class="list-group-item" id="list-settings-list" data-toggle="list" href="" role="tab">活动日志</a>
                    <a class="list-group-item" id="list-settings-list" data-toggle="list" href="" role="tab">个人设置</a>
                </div>
            </div>
            <div class="col-10" id="commodityConfigArea">
                待处理！
            </div>
        </div>
    </div>
</section>
